@model IssueTracker.Web.Models.AccountEditorVM
<div class="sidebar">
    <nav class="sidebar-nav">
        @Html.Partial("_ListSummary", (IEnumerable<IssueTracker.Model.ViewModel.AccountByType>)@ViewBag.AccountSummary)
    </nav>
</div>
<!-- Main content -->
<main class="main">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Account list</a></li>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
@using (Html.BeginForm("Edit", "Account",  FormMethod.Post,
                                                  new { enctype = "multipart/form-data" }))
{
                        <div class="card-header">

                            @if (Model.ActionState == "I")
                            { <strong>Nuovo </strong> }
                            else
                            { <strong>Modifica </strong> } Account
                        </div>
                        <div class="card-block">

                            <div class="form-group row">
                                <label class="col-md-3 form-control-label">Account Id</label>
                                <div class="col-md-9">
                                    <p class="form-control-static">@Model.Account.AccountId</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Name</label>
                                <div class="col-md-9">
                                    <input type="text" id="Name" name="Name" class="form-control" placeholder="Text" value="@Model.Account.Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="Email">Email</label>
                                <div class="col-md-9">
                                    <input type="email" id="Email" name="Email" class="form-control" placeholder="Enter Email" value="@Model.Account.Email">

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="select">Account Type</label>
                                <div class="col-md-9">
                                    @(Html.Kendo().DropDownListFor(m => m.Account.AccountTypeId)
                        .Name("AccountTypeId")
                        .DataTextField("Description")
                        .DataValueField("Id")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetAccountType", "Account");
                            });
                        })
                        .HtmlAttributes(new { @class = "form-control input-sm" }))
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="select">Company</label>
                                <div class="col-md-9">
                                    @(Html.Kendo().DropDownListFor(m => m.Account.ClientId)
                        .Name("ClientId")
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetClient", "Account");
                            });
                        })
                        .HtmlAttributes(new { @class = "form-control input-sm" }))
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country">Phone</label>
                                <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Country name" value="@Model.Account.Phone">
                            </div>
                            <div class="form-group">
                                <label for="country">City</label>
                                <input type="text" class="form-control" name="City" id="City" placeholder="City name" value="@Model.Account.City">
                            </div>
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="Country" value="@Model.Account.Country">
                            </div>
                            <input type="hidden" name="CreatedDate" id="CreatedDate" value="@Model.Account.CreatedDate" />
                            <input type="hidden" name="AccountId" id="AccountId" value="@Model.Account.AccountId" />
                        </div>
                        <div class="card-footer right">
                            <button type="submit" class="btn btn-sm btn-primary" name="state" value="@Model.ActionState"><i class="fa fa-save"></i> Submit</button>
                            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i> Reset</button>
                        </div>
}
                </div>
            </div>
            <!--/col-->
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {

    });
</script>