@model IssueTracker.Web.Models.AccountEditorVM
@{
    ViewBag.Title = Model.ActionState == "I" ? "New Account" : "Edit Account";
}

@using (Html.BeginForm())
{

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @ViewBag.Title
            <small>
                &nbsp;
                <a href="@Url.Action("List", "Account")">
                    <i class="fa fa-arrow-circle-left"></i>
                    back to list
                </a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="state" class="btn bg-blue" value="@Model.ActionState">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            <a name="save" class="btn bg-red" href="@Url.Action("List", "Account")">
                <i class="fa fa-undo"></i>
                Cancel
            </a>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div id="customer-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-tab-name="tab-info" data-toggle="tab" href="#tab-info">Account Info</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-info">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-4 text-right">
                                            <label class="control-label" for="AccountId">
                                                Account ID
                                                <span class="ico-help" title="Account User Id">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Account.AccountId, new { @class = "form-control", id = "AccountId" })                                            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 text-right">
                                            <label class="control-label" for="Name">
                                                Name
                                                <span class="ico-help" title="Complete name">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Account.Name, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 text-right">
                                            <label class="control-label" for="Email">
                                                Name
                                                <span class="ico-help" title="email address">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Account.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 text-right">
                                            <label class="control-label" for="AccountTypeId">
                                                Account Type
                                                <span class="ico-help" title="Account type: ex: Client or Admin or Developer">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            @(Html.Kendo().DropDownListFor(m => m.Account.AccountTypeId)
                                                .Name("AccountTypeId")
                                                .DataTextField("Description")
                                                .DataValueField("Id")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetAccountType", "Account");
                                                    });
                                                })
                                                .HtmlAttributes(new { @class = "form-control" })
                                            )
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 text-right">
                                            <label class="control-label" for="Phone">
                                                Contact number
                                                <span class="ico-help" title="Phone or mobile number">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.Account.Phone, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 text-right">
                                            <label class="control-label" for="City">
                                                City
                                                <span class="ico-help" title="City">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.Account.City, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4 text-right">
                                            <label class="control-label" for="Country">
                                                Contact number
                                                <span class="ico-help" title="Country">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.Account.Country, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="CreatedDate" id="CreatedDate" value="@Model.Account.CreatedDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        var state = "@Model.ActionState";
        if (state !== "I")
            $("#AccountId").prop("disabled", true);
    });
</script>