
@{
    ViewBag.Title = "List";
}
@model IEnumerable<IssueTracker.Model.ViewModel.AccountByType>
<style>
    body, .main, .container-fluid {
        overflow: hidden;
    }
</style>

@*<div class="sidebar">
    <nav class="sidebar-nav">
        @Html.Partial("_ListSummary", Model)
    </nav>
</div>*@

<!-- Main content -->
<main class="main">

    <ol class="breadcrumb">
        <li class="breadcrumb-item">&nbsp;</li>        
        <!-- add button -->
        <li class="breadcrumb-menu hidden">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-secondary" href="./"><i class="icon-plus"></i> &nbsp;Add new account</a>
            </div>
        </li>
    </ol>

    <div class="container-fluid" style="padding:5px; margin: 0">
        <div class="row" id="filter-row">
            <div class="col">
                <div class="card card-default">
                    <div class="card-block">
                        <div class="row">
                            <div class="col">
                                <div class="form-horizontal ">
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="select">Status</label>
                                        <div class="col-md-9">
                                            <input type="text" id="AccountName" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col">
                                <div class="form-horizontal ">
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="select">Client</label>
                                        <div class="col-md-9">
                                            @*@Html.DropDownList("IssueClient", @Model.Client, new { @class = "form-control", id = "IssueClient" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-info">search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-block" id="grid-block" style="padding:1px 1px;">
                        @(Html.Kendo().Grid<IssueTracker.Model.ViewModel.AccountViewModel>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.AccountId)
                                       .ClientTemplate("<a class='btn btn-secondary' onclick='edit(\"#= AccountId #\");'><span class='fa fa-edit' /></a><a class='btn btn-danger' onclick='destroyAccount(\"#= AccountId #\");'><span class='fa fa-remove' /></a>")
                                       .Title("").Width(100);
                                columns.Bound(p => p.AccountId).Width(150);
                                columns.Bound(p => p.Name).Width(180);
                                columns.Bound(p => p.AccountType).Width(180);
                                columns.Bound(p => p.ClientName).Width(180);

                            })
                            .Scrollable()
                            .Sortable()
                            .HtmlAttributes(new { style = "height: 100%" })
                            .Pageable(pageable => pageable
                                .PageSizes(true)
                                .ButtonCount(5)
                            )
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(p => p.AccountId);
                                    model.Field(p => p.ClientId).DefaultValue(ViewData["defaultClient"] as IssueTracker.Model.Client);
                                })
                                .PageSize(20)
                                .Read(read => read.Action("Accounts_Read", "Account"))
                            )
                        )
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
<script>
    var grid;
    $(document).ready(function () {
        $(window).on('resize', function () {
            setGridBlockSize();
        });
        setGridBlockSize();
        grid = $("#grid").data("kendoGrid");
    });
    function setGridBlockSize() {
        $("#grid-block").height($(window).height() - $(".app-header").outerHeight() - $(".breadcrumb").outerHeight() - $("#filter-row").outerHeight() - $(".app-footer").outerHeight() - 34);
    }
    function destroyAccount(id) {
        var r = confirm("Sei sicuro di voler cancellare l'account?");
        if (r) {
            $.ajax({
                url: '@Url.Action("Account_Destroy", "Account")',
                data: {id: id},
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    alert(data)
                },
                complete: function () {
                    grid.dataSource.read();
                    grid.refresh();
                }
            });

        }
    }
    function edit(id) {
        document.location.href = '@Url.Action("Edit", "Account")' + '?k=' + id;
    }
</script>