@using IssueTracker.Web.Security;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | IssueTracker</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/wwwroot/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/wwwroot/AdminLTE/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/wwwroot/AdminLTE/css/skins/_all-skins.min.css">
    <link href="~/wwwroot/AdminLTE/css/ovveride.css" rel="stylesheet" />

    <!-- kendo css -->
    <link href="~/wwwroot/plugins/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/wwwroot/plugins/kendo/styles/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/wwwroot/plugins/kendo/styles/kendo.bootstrap.mobile.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery 2.2.3 -->
    <script src="~/wwwroot/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- kendo js -->
    <script src="~/wwwroot/plugins/kendo/js/kendo.all.min.js"></script>
    <script src="~/wwwroot/plugins/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/wwwroot/plugins/kendo/js/kendo.timezones.min.js"></script>
    <script src="~/wwwroot/plugins/kendo/js/pako_deflate.min.js"></script>
    <script src="~/wwwroot/plugins/kendo/js/jszip.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <input type="hidden" id="_role_" value="@((User as CustomPrincipal).AccountTypeId)" />
    <input type="hidden" id="_usr_" value="@((User as CustomPrincipal).AccountId)" />
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">@((User as CustomPrincipal).Name)</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header" style="height:80px!important">
                                    <p>
                                        @((User as CustomPrincipal).Name) - @((User as CustomPrincipal).Role)
                                        <small>@((User as CustomPrincipal).Email)</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("MyProfile", "Account")" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Change password</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Logout Button -->
                        <li>
                            <a href="@Url.Action("Signout", "Account")"><i class="fa fa-power-off"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" id="main-nav">
                    <li class="header">MAIN NAVIGATION</li>
                    <li id="dashboard">
                        <a href="@Url.Action("", "Dashboard")">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li id="issues">
                        <a href="@Url.Action("List", "Issue")">
                            <i class="fa fa-bug"></i>
                            <span>Issues</span>
                        </a>
                    </li>
                    <li id="accounts">
                        <a href="@Url.Action("List", "Account")">
                            <i class="fa fa-users"></i> <span>Accounts</span>
                        </a>
                    </li>
                    <li id="extra">
                        <a href="@Url.Action("List", "Common")">
                            <i class="glyphicon glyphicon-th-list"></i>
                            <span>Projects</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>IssueTracker Version</b> 1.0.0
            </div>
            <strong>theme: <a href="https://adminlte.io/">Admin LTE</a>.</strong>
        </footer>
       
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

        <!--Bootstrap 3.3.6 -- >
            <script src="~/wwwroot/bootstrap/js/bootstrap.min.js"></script>

        <!-- Slimscroll -->
        <script src="~/wwwroot/plugins/slimScroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="~/wwwroot/plugins/fastclick/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="~/wwwroot/AdminLTE/js/app.js"></script>
        <script>
            $(document).ready(function () {
                var role = $("#_role_").val();
                if (role !== "0") {
                    $("#dashboard").hide();
                    $("#accounts").hide();
                    $("#extra").hide();
                }
                
            });
        </script>
</body>
</html>
