
@{
    ViewBag.Title = "IssueForm";
}
﻿@model IssueTracker.Model.ViewModel.IssueViewModel

@using (Html.BeginForm())
{

    <div class="content-header clearfix">
        <h1 class="pull-left">
            Issue
            <small>
                &nbsp;
                <a href="@Url.Action("List", "Issue")">
                    <i class="fa fa-arrow-circle-left"></i>
                    back to list
                </a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Update
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div id="customer-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-tab-name="tab-info" data-toggle="tab" href="#tab-info">Issue Info</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-info">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group" id="input-createby">
                                                <div class="col-md-4">
                                                    <label for="AssignTo">Author</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @Model.CreateByName
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="ProjectId">Project</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @Model.ProjectName
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="AssignTo">Assign To</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @(Html.Kendo().DropDownListFor(m => m.AssignedTo)
                                                        .Name("AssignedTo")
                                                        .DataTextField("Name")
                                                        .DataValueField("AccountId")
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("GetDevelopers", "Account");
                                                            });
                                                        })
                                                        .HtmlAttributes(new { @class = "form-control" })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="IssueStatus">Status</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @(Model.StatusDescription ?? "N/A")
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="PriorityId">Priority</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @Model.Priority
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="IssueType">Type</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @Model.IssueTypeName
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="control-label">
                                                        Name
                                                    </label>
                                                </div>
                                                <div class="col-md-8">
                                                    @Model.Name
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label class="control-label">
                                                        Description
                                                    </label>
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.TextArea("Description", Model.Description, new { @class = "form-control", style = "height: 440px" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <script>
        var err = '@ViewBag.ErrMsg';
        if (err && err.length > 0 && err !== 'null')
            alert(err);
    </script>
}