
@{
    ViewBag.Title = "IssueForm";
}
﻿@model IssueTracker.Web.Models.IssueFormVM

@using (Html.BeginForm())
{
    
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @Model.HeaderText
            <small>
                &nbsp;
                <a href="@Url.Action("List", "Issue")">
                    <i class="fa fa-arrow-circle-left"></i>
                    back to list
                </a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="state" class="btn bg-blue" value="@(Model.Issue.Id > 0 ? "U":"I")">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            <button type="submit" name="save-continue" class="btn bg-red">
                <i class="fa fa-undo"></i>
                Cancel
            </button>
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div id="customer-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-tab-name="tab-info" data-toggle="tab" href="#tab-info">Issue Info</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-info">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group" id="input-createby">
                                                <div class="col-md-4">
                                                    <label for="AssignTo">Author</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="hidden" name="CreateBy" id="CreateBy" value="@Model.Issue.CreateBy" />
                                                    @Model.Author
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="ProjectId">Project</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @(Html.Kendo().DropDownListFor(m => m.Issue.ProjectId)
                                                        .Name("ProjectId")
                                                        .DataTextField("Name")
                                                        .DataValueField("Id")
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("GetProjectList", "Project");
                                                            });
                                                        })
                                                        .HtmlAttributes(new { @class = "form-control" })
                                                    )
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="AssignTo">Assign To</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @(Html.Kendo().DropDownListFor(m => m.Issue.AssignedTo)
                                                        .Name("AssignedTo")
                                                        .DataTextField("Name")
                                                        .DataValueField("AccountId")
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("GetDevelopers", "Account");
                                                            });
                                                        })
                                                        .HtmlAttributes(new { @class = "form-control" })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="IssueStatus">Status</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @(Html.Kendo().DropDownListFor(m => m.Issue.IssueStatus)
                                                        .Name("IssueStatus")
                                                        .DataTextField("Description")
                                                        .DataValueField("Id")
                                                        .Value("N")
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("GetIssueStatusList", "Common");
                                                            });
                                                        })
                                                        .HtmlAttributes(new { @class = "form-control", id = "IssueStatus" })
                                                    )
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="PriorityId">Priority</label>
                                                </div>
                                                <div class="col-md-8">
                                                    @(Html.Kendo().DropDownListFor(m => m.Issue.PriorityId)
                                                        .Name("PriorityId")
                                                        .DataTextField("Name")
                                                        .DataValueField("Id")
                                                        .DataSource(source =>
                                                        {
                                                            source.Read(read =>
                                                            {
                                                                read.Action("GetPriorityList", "Common");
                                                            });
                                                        })
                                                        .HtmlAttributes(new { @class = "form-control" })
                                                    )

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="IssueType">Type</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <select id="IssueType" name="IssueType" class="form-control">
                                                        <option value="B" selected="selected">Bug</option>
                                                        <option value="F">New feature</option>
                                                        <option value="O">Other</option>
                                                    </select>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3 text-right">
                                            <label class="control-label" for="Title">
                                                Subject
                                                <span class="ico-help" title="Issue name">
                                                    <i class="fa fa-question-circle"></i>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            @Html.TextBox("Name", Model.Issue.Name, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Description
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                @Html.TextArea("Description", Model.Issue.Description, new { @class = "form-control", style = "height: 440px" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var role = $("#_role_").val();
            var state = role !== "C";
            var issueStatus = $("#IssueStatus").data("kendoDropDownList");
            var AssignedTo = $("#AssignedTo").data("kendoDropDownList");
            issueStatus.enable(state);
            AssignedTo.enable(state);
        });
        var err = '@ViewBag.ErrMsg';
        if (err && err.length > 0 && err !== 'null')
            alert(err);
    </script>
}