@{
    ViewBag.Title = "List";
}
@model IssueTracker.Web.Models.IssueFilterFormVM

<!-- Content Header (Page header) -->
<div class="content-header clearfix">
    <h1 class="pull-left">
        Issues
    </h1>
    <div class="pull-right">
        <a href="#" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Add new
        </a>
        <div class="btn-group">
            <button type="button" class="btn btn-success">
                <i class="fa fa-download"></i>
                Export
            </button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <button type="submit" name="exportxml-all">
                        <i class="fa fa-file-code-o"></i>
                        Export to XML (all found)
                    </button>
                </li>
                <li>
                    <button type="button" id="exportxml-selected">
                        <i class="fa fa-file-code-o"></i>
                        Export to XML (selected)
                    </button>
                </li>
                <li class="divider"></li>
                <li>
                    <button type="submit" name="exportexcel-all">
                        <i class="fa fa-file-excel-o"></i>
                        Export to Excel (all found)
                    </button>
                </li>
                <li>
                    <button type="button" id="exportexcel-selected">
                        <i class="fa fa-file-excel-o"></i>
                        Export to Excel (selected)
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="IssueStatus">Priority</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("IssueStatus", @Model.Status, new { @class = "form-control", id = "IssueStatus", multiple = "multiple" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="IssueClient">Client</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("IssueClient", @Model.Client, new { @class = "form-control", id = "IssueClient", multiple = "multiple" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="IssueProject">Project</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("IssueProject", @Model.Project, new { @class = "form-control", id = "IssueProject", multiple = "multiple" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="IssueStatus">Assigned Status</label>
                                </div>
                                <div class="col-md-8">
                                    <select id="IssueAssigned" name="IssueAssigned" class="form-control input-sm" style="width:120px!important" size="1">
                                        <option value="0">All</option>
                                        <option value="1">Not Assigned</option>
                                        <option value="2">Assigned</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="IssuePriority">Priority</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.DropDownList("IssuePriority", @Model.Priority, new { @class = "form-control", id = "IssuePriority", multiple = "multiple" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <button type="button" id="search-orders" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    @(Html.Kendo().Grid<IssueTracker.Model.ViewModel.IssueViewModel>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.Id)
                                       .ClientTemplate("<a class='btn btn-secondary' onclick='edit(\"#= Id #\");'><span class='fa fa-edit' /></a><a class='btn btn-danger' onclick='destroyAccount(\"#= Id #\");'><span class='fa fa-remove' /></a>")
                                       .Title("").Width(100);
                                columns.Bound(p => p.Title).Width(150);


                                columns.Bound(p => p.ProjectName).Width(180);
                                columns.Bound(p => p.AssignedToName).Width(180);
                                columns.Bound(p => p.Priority).Width(60).ClientTemplate("<span class='priority-issue'>#: Priority #</span>");
                                columns.Bound(p => p.IssueStatus).Width(100).ClientTemplate("<span class='priority-issue'>#: StatusDescription #</span>");

                            })
                            .Scrollable()
                            .Sortable()
                            .HtmlAttributes(new { style = "height: 100%" })
                            .Pageable(pageable => pageable
                                .PageSizes(true)
                                .ButtonCount(15)
                            )
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(20)
                                .Read(read => read.Action("Issues_Read", "Issue").Data("gridWhere"))
                            )
                    )
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#IssueStatus').multiselect({ buttonWidth: '100%'});
        $('#IssueClient').multiselect({ buttonWidth: '100%' });
        $('#IssueProject').multiselect({ buttonWidth: '100%' });
        $('#IssuePriority').multiselect({ buttonWidth: '100%' });
    });
    //$(document).ready(function () {
    //    $(window).on('resize', function () {
    //        setGridBlockSize();
    //    });
    //    setGridBlockSize();
    //    grid = $("#grid").data("kendoGrid");
    //});
    //function setGridBlockSize() {
    //    $("#grid-block").height($(window).height() - $(".app-header").outerHeight() - $(".breadcrumb").outerHeight() - $("#filter-row").outerHeight() - $(".app-footer").outerHeight() - 14);
    //}
    function gridWhere() {

        return {

        }
    }
</script>