@{
    ViewBag.Title = "List";
}
@model IssueTracker.Web.Models.IssueFilterFormVM
<div class="sidebar">
    <nav class="sidebar-nav">

    </nav>
</div>

<!-- Main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card card-default">
                    <div class="card-block">
                        <div class="row">
                            <div class="col">
                                <div class="form-horizontal ">
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="select">Status</label>
                                        <div class="col-md-9">
                                            @Html.DropDownList("IssueStatus", @Model.Status, new { @class = "form-control", id = "IssueStatus" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="select">Client</label>
                                        <div class="col-md-9">
                                            @Html.DropDownList("IssueClient", @Model.Client, new { @class = "form-control", id = "IssueClient" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="select">Project</label>
                                        <div class="col-md-9">
                                            @Html.DropDownList("IssueProject", @Model.Project, new { @class = "form-control", id = "IssueProject" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-horizontal ">
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="select">Assigned Status</label>
                                        <div class="col-md-9">
                                            <select id="IssueAssigned" name="IssueAssigned" class="form-control" size="1">
                                                <option value="0">All</option>
                                                <option value="1">Not Assigned</option>
                                                <option value="2">Assigned</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="select">Priority</label>
                                        <div class="col-md-9">
                                            @Html.DropDownList("IssuePriority", @Model.Priority, new { @class = "form-control", id = "IssuePriority" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-info">search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-block" style="padding:1px 1px;">
                        @(Html.Kendo().Grid<IssueTracker.Model.ViewModel.IssueViewModel>()
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.Id)
                                       .ClientTemplate("<a class='btn btn-secondary' onclick='edit(\"#= Id #\");'><span class='fa fa-edit' /></a><a class='btn btn-danger' onclick='destroyAccount(\"#= Id #\");'><span class='fa fa-remove' /></a>")
                                       .Title("").Width(100);
                                columns.Bound(p => p.Title).Width(150);
                                
                                
                                columns.Bound(p => p.ProjectName).Width(180);
                                columns.Bound(p => p.AssignedToName).Width(180);
                                columns.Bound(p => p.ProjectName).Width(60).ClientTemplate("<span class='priority-issue'>#: PriorityName #</span>");
                                columns.Bound(p => p.StatusDescription).Width(180);

                            })
                            .Scrollable()
                            .Sortable()
                            .HtmlAttributes(new { style = "height: 565px"})
                            .Pageable(pageable => pageable
                                .PageSizes(true)
                                .ButtonCount(15)
                            )
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(20)
                                .Read(read => read.Action("Issues_Read", "Issue"))
                            )
                        )
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>